<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accueil</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
  {% endblock %}
</head>
<body>
  <div class="container">
    <div class="presentation">
        <div class="titre">
          <h1>Bienvenue sur l'application web de gestion de votre budget</h1>
          <div class="image">
            <img src="{{asset('images/home.png')}}" alt="">
          </div>
        </div>
    </div>
    <div class="formulaire">
      <div class="form">
        
        <form class="login-form" action="">
            <h2>Accedez à votre espace</h2>
                <div class="form-items">
                  <label for="email">Email</label>
                  <input type="email">
                </div-form-items>
                <div class="form-items">
                  <label for="password">Mot de passe</label>
                  <input type="password">
                </div>
                <div class='forgotten-password'>
                  <span >Mot de passe oublié ?</span>
                </div>
                <button class="submit-button"> Se connecter</button>
              
          

                
                <div class="register">
                  <h4> Pas encore de compte ? <a href="#">S'inscrire</a></h4>
                </div>
         
        </form>
      </div>
    </div>
  </div>
</body>
</html>

