<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Accueil</title>
       
    </head>
    <body>
       <h1> Bonjour et bienvenue sur l'application buget</h1>
       <h3> Apprend à gérer ton budget depuis cette application !!</h3>
    </body>
</html>
